[Desktop Entry]
Version=1.0
Type=Application
Name=Mehr Calendar
GenericName=Mehr Calendar
GenericName[fa]=تقویم مهر
Comment=Persian calendar
Comment[fa]=تقویم پارسی
Icon=mehrcal
Exec=/opt/mehrcal/mehrcal
NoDisplay=false
Categories=Office;Calendar;GTK;
StartupNotify=false
Terminal=false
MimeType=text/calendar;
